/* Main Section */
.reviews-intro {
  color: var(--primary);
  margin: 0 auto;
  max-width: 1280px;
  padding: 32px 0;
  border-radius: 0;
  font-size: 1rem;
  text-align: left;
}
.reviews-main {
  background: var(--white);
  margin: 0;
  padding: 40px;
}
