.about-main {
  margin: 0;
  padding: 32px 0;
}

.about-intro {
  max-width: 1280px;
  margin: 0 auto 24px auto;
  font-size: 1.05rem;
  text-align: left;
  padding: 32px 0;
}

.about-main-inner {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 32px;
  align-items: flex-start;
}
.about-main-left {
  flex: 1 1 50%;
}
.about-main-box {
  background: #f7f7f7;
  border-radius: 4px;
  padding: 24px 24px 24px 24px;
  font-size: 1rem;
  color: #444;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
}
.about-main-right {
  flex: 1 1 50%;
}
.about-main-exp {
  background: #f7f7f7;
  border-radius: 4px;
  padding: 24px 24px 24px 24px;
  font-size: 1rem;
  color: #222;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
}
.about-main-exp-title {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0.7em;
  color: var(--primary);
}
.about-main-exp ul {
  margin: 0 0 1.2em 1.2em;
  padding: 0;
  font-size: 0.98rem;
}
.about-main-exp ul li {
  margin-bottom: 0.4em;
  line-height: 1.5;
}
